---
import Title from "../components/Title.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Title>Hello! My name is Andrew!</Title>
  <section class="flex gap-10 my-10 justify-center">
    <article class="prose">
      <h3>But I go by the nickname "Sketch."</h3>
      <p>
        This nickname reflects my belief that I am like a sketch - a beginning
        piece of a greater work of art that will eventually be realized. I'm
        currently studying information technology at KPI University, where my
        interests extend far beyond just technology. In my spare time, I enjoy
        cooking, playing the guitar, and immersing myself in a variety of music
        genres. These activities help me unwind while staying creative.
      </p>

      <h3>My Journey in IT and Technology</h3>
      <p>
        I started my career as a fullstack web developer but have recently
        discovered a passion for the deeper aspects of programming through
        learning the Rust language. This language has opened new horizons for
        me, allowing for a deeper dive into the world of computer technologies.
      </p>

      <h3>Reflections on Technological Progress</h3>
      <p>
        It amazes me how rapidly our world evolves. Just a couple of centuries
        ago, people managed without [basic technologies we now take for granted,
        such as electricity or automobiles]. Today, we stand on the brink of
        technological singularity, anticipating new breakthroughs in artificial
        intelligence.
      </p>

      <h3>Dreams and Ambitions</h3>
      <p>
        My grand dream is not only to understand the inner workings of computers
        or to master the latest trends in neural networks, but also to delve
        deeply into neuroscience, particularly computational neuroscience. I
        believe that understanding human consciousness is key to unlocking many
        mysteries. I want to be among those who unravel this enigma. For now,
        this remains a dream, but every day I am getting closer to realizing it,
        evolving as a software engineer.
      </p>
    </article>
    <img src="/me.jpeg" alt="It's me, Andrew!" class="rounded-xl h-96" />
  </section>
</MainLayout>
