---
import Title from "../components/Title.astro";
import MainLayout from "../layouts/MainLayout.astro";

const pageLinks = [
  {
    title: "My Blog",
    description:
      "Explore the realm of web development and computer sciences through the eyes of a KPU student.",
    href: "/blog",
  },
  {
    title: "My Courses",
    description:
      "Dive into details about each course I've taken at KPU and my experiences with them.",
    href: "/courses",
  },
  {
    title: "About Me",
    description:
      "Get to know me better, learn about my interests, passions, and goals.",
    href: "/about",
  },
];
---

<MainLayout>
  <Title>My Journey in Computer Sciences at KPU</Title>
  <section class="max-w-5xl mx-auto mt-20">
    <p class="text-xl">
      Welcome to my project! Here, I'll share my experience in web development,
      as well as my passions like cooking, music, and low-level programming.
      Dive into the world of computer sciences with me!
    </p>
    <ul class="grid grid-cols-3 mt-28 gap-5">
      {
        pageLinks.map((link) => (
          <li class="hover:drop-shadow-2xl hover:-translate-y-2 transition-all">
            <a href={link.href}>
              <h3 class="font-bold text-2xl">{link.title}</h3>
              <p>{link.description}</p>
              <p class="text-sm underline">Learn more...</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
